body {
    background-color: #f4f8f9;
}

.app-container {
    margin-top: 50px;
}

.article {
    margin: 5px 0px 10px 0px;
}

.article_author {
    text-align: right;
}

.article_image {
    height: 200px;
    width: 200px;
}

.pagination {
    margin-bottom: 100px;
}

.image_container {
    height: 500px;
}

.detail_image {
    width: 70%;
    margin: 20px auto;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.7);
}
